.Notification {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0.6rem;
    font-size: 1.4rem;

    &__icon {
        color: white;
    }

    &--success {
        background-color: var(--primaryColor);
        color: white;
    }

    &--error {
        background-color: var(--deleteColor);
        color: white;
    }
}