.ItinerarioDetails {
    &__titleSection {
        display: flex;
        align-items: center;
    }

    &__content {
        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;

            &__left {
                display: flex;
                flex-direction: column;
                flex: 1;
                margin-right: 20rem;
            }

            &__right {
                display: flex;
                align-items: center;
            }

            &__label {
                margin-bottom: 1rem;
            }

            &__imagePicker {
                display: flex;
                flex-direction: column;
                margin-right: 3rem;
            }

            &__imageWrapper {
                height: 18rem;
                width: 16rem;
                // border: 1px solid var(--grayColor);
                border-radius: 1.2rem;

                &__image {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }

        &__waypoints {
            &__container {
                display: flex;
                flex: 1;
                width: 100%;
                height: 50rem;
                margin-top: 2rem;
                gap: 4rem;
            }

            &__search {
                display: flex;
                flex-direction: column;
                flex: 1;

                &__list {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    overflow-y: auto;
                    margin-top: 2.4rem;
                }
            }

            &__list {
                display: flex;
                flex-direction: column;
                flex: 1;
                overflow-y: auto;
                height: 100%;

                &__item-wrapper {
                    background-color: white;

                    &:not(:last-of-type) {
                        border-bottom: 1px solid var(--grayColor);
                    }

                    &--dragging {
                        background-color: var(--primaryColorLight);

                        &:not(:last-of-type) {
                            border-bottom: 1px solid transparent;
                        }
                    }
                }
            }
        }

    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        margin-top: 3rem;

        &__save {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__delete {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 2rem;
            background-color: var(--deleteColor);

            &:hover {
                background-color: var(--deleteColorHover);
            }

            &:active {
                background-color: var(--deleteColorActive);
            }
        }

    }

    &__searchableDimora {
        display: flex;
        align-items: center;
        padding: 2rem;

        &:not(:last-of-type) {
            border-bottom: 1px solid var(--grayColor);
        }

        &__img {
            width: 4rem;
            height: 5rem;
            object-fit: cover;
            margin-right: 2rem;
        }

        &__name {
            margin-right: 2rem;
        }

        &__addBtn {
            height: 4rem;
            width: 4rem;
            margin-left: auto;
            padding: 1rem;
            border-radius: 50%;

            &__icon {
                margin: 0;
            }
        }
    }
}