.DimoraDetails {
    &__titleSection {
        display: flex;
        align-items: center;
    }

    &__backButton {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.2rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        margin-right: 2rem;

        &__icon {
            flex-shrink: 0;
            width: 2.8rem;
            height: 2.8rem;
            color: var(--primaryColorDarkest);
        }
    }
}