:root {
  --pageColor: #F2F4F7FF;
  --head1Color: #131514;
  --head2Color: #20381EFF;
  --fontBodyColor: #131514FF;
  --grayColor: #D1D6D1FF;
  --shadowColor: #52525240;
  --iconColor: #20381EFF;
  --hoverIconButtonColor: #E8FFE9FF;

  --primaryColorLight: #C7DFC5FF;
  --primaryColor: #38852EFF;
  --primaryColorDark: #3B6835FF;
  --primaryColorDarker: #2E4F2BFF;
  --primaryColorDarkest: #20381EFF;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

input {
  background-color: transparent;
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}