@import "scss/theme";
@import "scss/scrollbar";
@import "scss/tipography";
@import "scss/components";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow: hidden;
  height: 100vh;
}

#root {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

button {
  display: inline-block;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

textarea,
input {
  display: inline-block;
  background-color: transparent;
  outline: none;
  border: none;
}

::selection {
  background-color: var(--primaryColorLight);
  color: var(--primaryColorDarkest);
}