.page {
    padding: 4.8rem calc(0.06 * 100vw);
    // padding-right: calc(0.06 * 100vw + 8px);
    width: 100%;
    margin: 0 auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    // TODO: give a max width to the page like(160rem)
}

.btn {
    background-color: var(--primaryColorDark);
    color: var(--buttonForegroundColor);
    padding: 1.2rem 2.4rem;
    border-radius: 1.2rem;
    transition-duration: 100ms;

    p,
    span {
        @extend .buttonText;
    }

    &:hover {
        background-color: var(--primaryColorDarker);
    }

    &:active {
        background-color: var(--primaryColorDarkest);
    }

    &__icon {
        margin-right: 0.8rem;
        width: 2rem;
        height: 2rem;
    }
}

.input {
    @extend .description;
    padding: 1.2rem 1.6rem;
    background-color: white;
    border-radius: 1.2rem;
    border: 1px solid var(--grayColor);
    box-shadow: 0 0 1px 0 var(--shadowColor);

    &::placeholder {
        @extend .description;
        color: var(--grayColor);
    }
}

.textarea {
    @extend .input;
    padding: 2rem;
    resize: none;
}

.centeredContent {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    background-color: white;
    border: 1px solid var(--grayColor);
    box-shadow: 0 0 1px 0 var(--shadowColor);
    border-radius: 50%;
    transition: all 150ms;

    &__icon {
        flex-shrink: 0;
        color: var(--primaryColorDarkest);
    }

    &:hover {
        background-color: var(--backButtonHoverColor);
    }

    &:active {
        background-color: var(--backButtonActiveColor);
    }
}

.textBtn {
    @extend .buttonText;
    color: var(--primaryColorDarker);
    background-color: transparent;
    padding: 1.2rem 2.4rem;
    border-radius: 1.2rem;
    transition: all 150ms;

    &:hover {
        background-color: var(--primaryColorLight);
    }

    &:active {
        background-color: var(--primaryColorLighter);
        color: var(--primaryColorDarkest);
    }
}