:root {
    --primaryColorLight: #C7DFC5FF;
    --primaryColor: #38852EFF;
    --primaryColorDark: #3B6835FF;
    --primaryColorDarker: #2E4F2BFF;
    --primaryColorDarkest: #20381EFF;

    --pageColor: #F2F4F7FF;
    --sideBarColor: white;
    --buttonForegroundColor: white;

    --backButtonColor: white;
    --backButtonHoverColor: #edf1ed;
    --backButtonActiveColor: rgb(225, 229, 225);

    --head1Color: #131514;
    --head2Color: #20381EFF;
    --descriptionColor: #131514FF;

    --grayColor: #D1D6D1FF;
    --shadowColor: #52525240;

    --iconForegroundColor: #20381EFF;
    --hoverIconForegroundColor: #20381e63;
    --hoverIconButtonColor: #c6dec463;
    --focusIconButtonColor: #c6dec4c7;

    --sideBarSize: 9rem;
}