*,
*::after,
*::before {
    font-family: "Poppins", sans-serif;
}

.title {
    font-size: 2.6rem;
    line-height: 120%;
    font-weight: 700;
    color: var(--head1Color);
}

.subTitle {
    font-size: 2rem;
    line-height: 120%;
    font-weight: 500;
    color: var(--subTitleColor);
}

.description {
    font-size: 1.6rem;
    line-height: 120%;
    font-weight: 400;
    color: var(--descriptionColor);
}

.buttonText {
    font-size: 1.6rem;
    line-height: 120%;
    font-weight: 400;
    color: var(--buttonForegroundColor);
}

.label {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primaryColorDark);
}